---
import Layout from "../components/Layout.astro";
---

<Layout>
	<h1>servoces</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eius
		veniam, quos sapiente quae repellat blanditiis fugit quaerat
		perspiciatis tempore.
	</p>
</Layout>
